#drum-machine {
  min-height: 60vh;
  width: 45vw;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#display {
  background-color: white;
  box-shadow: 1px 2px 3px rgba(61, 61, 61, 0.39);
  font-size: 1rem;
  border-radius: 5px;
  width: 90%;
  padding: 5px;
  text-align: center;
  margin-bottom: 2rem;
}

.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  margin: 1rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.274);
}



